*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    width: 100%;
    background-color: #0d0f12;
    display: flex;
    
    
    

}
.box{
    height: 100vh;
    width: 850px;
    justify-content: center;
    text-align: center;
    background-color: black;
    
}
.box img
{
margin-top: 15px;
height: 60px;
align-items: center;
}
form h3
{
color: whitesmoke;
margin-top: 40px;
margin-right: 150px;
}
input
{
    height: 35px;
    width: 300px;
    border: 1px solid hsla(0,0%,100%,.3);
    background-color:black;
    
}
.box button
{
    height: 40px;
    width: 302px;
    margin-top: 15px;
    background-color:#0074ab;
    color: whitesmoke;
    border-radius: 2px;
}
.forgot 
{
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.forgot h2 a
{
    color: #0074ab;
    text-decoration: none;
}
.forgot h2
{
    
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.forgot h3 
{
    color: #0074ab ;
    margin-top: 20px;
}

.create-btn button
{
    background-color: rgba(138,153,168,.25);
    font-size: 15px;
    margin-top: 30px;
}

.box-two
{
    
   height: 100vh;
   width: 100%;
   display: flex;
   background-color: #0d0f12;
}
.box-two img
{
    margin-top: 80px;
    height: 400px;
    width: 750px;
    display: flex;
    padding-left: 100px;

}

.bar
{
    height: 1px;
    
}